<table id="dg" style="width:100%;height:368px;"></table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="CURD.deleteData()">删除数据</a>
</div>
<script type="text/javascript">

    CURD.url = "operFlow";
    CURD.id = "f_uuid";
    //数据表格分页查询
    $('#dg').datagrid({
        url: CURD.url,
        queryParams: {
            operate: 'retrieve'
        },
        rownumbers: true,
        singleSelect: true,
        pagination: true,
        pagePosition: 'bottom',
        pageList:[10, 40, 80,200],
        fitColumns: true,
        emptyMsg: "暂无数据",
        columns: [
            [{
                field: CURD.id,
                title: 'ID',
                width: 60,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_id',
                title: '唯一标志',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_app',
                title: 'Application名称',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_name',
                title: '名称',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_begintime',
                title: '开始时间',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_duration',
                title: '持续时间(秒)',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_inbytes',
                title: '推流总量(bytes)',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_outbytes',
                title: '客户端播放总量(bytes)',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'f_addr',
                title: '客户端地址',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }, {
                field: 'createtime',
                title: '创建时间',
                width: 50,
                // sortable: true
                formatter: function(value, row, index) {
                    return "<div title='" + value + "' class='easyui-tooltip'>" + value + "</div>"
                }
            }]
        ],
        toolbar: "#toolbar",
        onDblClickRow: function(index, row) {
        }
    });

</script>